<!DOCTYPE html>
<html>
    <title>Image Processing API</title>
    <head></head>
    <body>
        <h2>Processed Image:</h2>
        <img src="<%= imagefile %>" alt="Img"/>
    </body>
</html>
